.carousel {
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.carouselInner {
  width: 100%;
  display: flex;
  transition: transform 0.5s ease;
}

.carouselSlide {
  flex: 0 0 100%;
  width: 100%;
}

.carouselSlide.active {
  transform: translateX(0);
}
